# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# Backup
*.bak
.ipynb_checkpoints/
jstoolchain/node_modules
.DS_Store
*.ipynb

# Analysis
*.pkl
notebooks

# Environments
.env
.venv
lib/
bin/
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile

# Configurations
.vscode

package-lock.json
node_modules
project_app/templates/pages/graphs/

