{% extends 'base.html' %}
{% block body %}
{% load custom_tags %}
<div class="flex justify-center flex-1 h-auto bg-white p-4">
    <main class=" flex-1 grid relative h-full focus:outline-none">
        <div class="py-6">
            <div class="px-4 sm:px-6 md:px-0">
                <h1 class="text-3xl font-bold text-center"> 👋 {{user.first_name}}, Lets Build up a Startup Knowledge Graph.</h1>
                <h4 class="text-xl font-semibold text-gray-900 py-5 text-center">Enter a Industry type for the knowledge graph</h4>
            </div>
            <form method="GET" action="" autocomplete="off" >
                <div class="bg-white border-2  shadow p-2 relative rounded-xl flex">
                    <span class="w-auto flex justify-end  items-center text-gray-500 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </span>
                    <input name="topicquery" id="title" class="border-white outline-none border-0 w-full rounded-xl p-2"
                        type="text"
                        placeholder="Enter single or multiple Industries seperated by , to generate startups knowledge graph 'e.g. AI, ML, Data Economy'" />
                    <button type="submit"
                        class="bg-blue-900 hover:bg-blue-800 rounded-xl text-white p-2 pl-4 pr-4 ml-2">
                        <p class="font-semibold text-xs">Search</p>
                    </button>
                </div>
            </form>

            <br>
            <div class="h-full ">

                {% if show %}
                <iframe src="/expertise_graph" frameborder="0" scrolling="no" allowtransparency="true" allow="encrypted-media"
                style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
                {% endif %}
            </div>
        </div>
    </main>
</div>

{% endblock body %}
