{% extends 'base.html' %}
{% block body %}


<div class="flex justify-center flex-1 h-auto bg-white p-4">
    <main class=" flex-1 grid relative overflow-y-auto focus:outline-none">
        <div class="py-2">
            <!-- heading -->
            <div class="m-3 font-semibold text-3xl mb-2  ">
                Projects
                <div class="bg-gray-100 h-2 w-10/12 mt-2 "></div>
            </div>
            <div class="m-3 flex w-10/12 space-x-3">
                <div>
                    <p class=" text-justify text-center">
                        To use / administer projects, a company must be Competence Profiled and Rated.
                    </p class=" text-justify text-center">
                    <p>
                        This means they have undergone the Competency Profiling evaluation by UKCCM staff.
                    </p class=" text-justify text-center">    
                    <p>
                        This enables the company to enter the elite Competency Profiling Database, Tender and Partnership functionality on UKCCM and participate as a Profiled Member.
                    </p>
                    <p class=" text-justify text-center">
                        A profiled company can be presented as a Suggested Partner in a tender response, accessing potential New Business, as well as
                        being able to create and administer its own project / cluster spaces etc. 
                    </p>
                </div>
                <div>

                    <p>
                        This is place where you can view and edit your project spaces. 
                        Using projects, you can communicate and collaborate with your colleagues in a secure manner.
                    </p>
                    <div class=" text-lg font-semibold my-3">
                        My Projects
                    </div>
                    <div class="w-full bg-gray-100 rounded-lg h-48">
                        
                    </div>
                    <div class=" text-base font-base my-3">
                       <h1 class=" text-lg font-semibold ">
                            Project Links                       
                       </h1>
                        <ul class=" text-blue-700 ">
                            <a href="#">
                                <li>
                                    Search WMCCM
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    Project Management Institute(PMI)
                                </li>
                            </a>
                            <a href="#">    
                                <li>
                                    Association for Project Management(APM)
                                </li>
                            </a>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </main>
</div>



{% endblock body %}