{% extends 'base.html' %}
{% block body %}

<div class="flex justify-center flex-1 h-auto bg-white space-x-2 ">
    <main class=" flex-1 grid relative overflow-y-auto focus:outline-none ">
        <div class="py-6 px-2">
            <!-- heading -->
            <div class="m-2 font-semibold text-3xl mb-2  ">
                Tenders
                <div class="bg-gray-100 h-2 w-10/12 mt-2 "></div>
            </div>
            <div class="p-2">
                <h2 class="text-sm  w-2/3">Keyword Search : </h2>
            </div>
            <!-- search bar -->
            <form method="GET" action="" autocomplete="off">
                <div class="intro-1 bg-white border-2 border-gray-200 p-1 relative w-10/12 rounded-xl flex">
                    <span class="w-auto flex justify-end  items-center text-gray-500 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </span>
                    {% if keyword %}
                    <input name="topicquery" id="title"
                        class="border-white outline-none focus:ring-0 border-0 w-full rounded-md p-1" type="text"
                        placeholder="Try searching Industry for getting the company related to it 'e.g. Chemical , Construction'" value={{keyword}} />
                    {% else %}
                    <input name="topicquery" id="title"
                        class="border-white outline-none focus:ring-0 border-0 w-full rounded-md p-1" type="text"
                        placeholder="Try searching Industry for getting the company related to it 'e.g. Chemical , Construction'" />
                    {% endif%}

                    <button type="submit" class="bg-black hover:bg-gray-700 rounded-md text-white p-1 pl-4 pr-4 ml-2">
                        <p class="font-semibold text-xs px-6"> Search </p>
                    </button>
                </div>
            </form>
            <!-- end searchbar -->
        
            <!-- filters on tenders -->
            {% if tenders%}
            <div class="m-2">
                <label>Contract Value : </label>
                <select name="tvalue" class="w-48 border border-gray-500 bg-gray-300 rounded-lg m-2 p-1" onchange="location=finalurl()" id="tvalue"> 
                    <option id="v1" value=""  disabled selected hidden>Value</option>
                    <option id="v2" value="65000000000">£65B or below</option>
                    <option id="v3" value="39000000000">£39B or below</option>
                    <option id="v4" value="26000000000">£26B or below</option>
                    <option id="v5" value="100000">>£0 to £100K</option>
                    <option id="v6" value="0">£0 </option>
                </select>
                <label class=" ml-4">Sort : </label>
                <select name="sort" class="w-48 border border-gray-500 bg-gray-300 rounded-lg m-2 p-1" onchange="location=finalurl2()" id="sort">
                    <option id="v1" value=""  disabled selected hidden>Order</option>
                    <option id="v2" value="1">Highest to lowest</option>
                    <option id="v3" value="0">Lowest to highest</option>
                </select>
            </div>
            {% endif %}
            <script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
            <script>
                
                //for getting url after applying ordering
                function finalurl() {
                    var url = new URL(window.location.href);
                    console.log(url)
                    var search_params = url.searchParams;
                    search_params.set('tvalue', document.getElementById("tvalue").value);
                    url.search = search_params.toString();
                    var new_url = url.toString();
                    return new_url
                }
                function finalurl2() {
                    var url = new URL(window.location.href);
                    console.log(url)
                    var search_params = url.searchParams;
                    search_params.set('sort', document.getElementById("sort").value);
                    url.search = search_params.toString();
                    var new_url = url.toString();
                    return new_url
                }
                // function filtering()
                // {   
                //     var search_params=document.getElementById("tvalue").value;
                //     var a={{t|safe}};
                //     let filtered = a.filter(d => d.contract_value > 0);
                //     console.log(filtered);
                // }
                
            </script>

             <!-- Add new Tender button -->
            <!-- <div class="w-3/5 p-4 ">
                <a href="/add_new_tender">

                    <div class=" text-white  bg-black hover:bg-gray-800 focus:ring-4 focus:ring-gray-500 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center justify-center ">
                        Add new tender  
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                    </div> 
                </a>
            </div> -->
            
            <!-- results -->
            <div>
                <h1 class="m-2 mt-4">
                    Matching results : {{count}} total results
                </h1>
                    <div class="w-11/12 ">
                        <div class="p-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-5">
                            {% for list in tenders %}
                            <!--Card 1-->
                            <div onclick="openModal('{{list.id}}')" class="rounded overflow-hidden shadow-lg">
                                <div class="px-6 py-4">
                                    <!-- <img class="w-8" src="project_app\static\assets\media\tenders\default.jpg" alt="Mountain"> -->
                                    <div class="font-semibold text-base  mb-2 " >{{list.title}}</div>
                                    <div class="font-semibold text-base   mb-2" >Closing Date :{{list.closing}}</div>
                                </div>
                                <!-- modal -->
                                
                                <dialog id="{{list.id}}" class="bg-transparent z-0 relative w-screen h-screen">
                                    <div class="p-7 flex justify-center items-center fixed left-0 top-0 w-full h-full bg-gray-900 bg-opacity-50 z-50 transition-opacity duration-300 opacity-0">
                                        <div class="bg-white flex rounded-lg w-1/2 relative">
                                            <div class="flex flex-col items-start">
                                                <div class="p-7 flex items-center w-full">
                                                    <div class="text-gray-900 font-bold text-lg">{{list.title}}</div>
                                                    <svg onclick="modalClose('{{list.id}}')" class="ml-auto fill-current text-gray-700 w-5 h-5 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                                                        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
                                                    </svg>
                                                </div>
                                
                                                <div class="px-7 text-sm overflow-x-hidden overflow-y-auto text-justify space-x-3" style="max-height: 40vh;">
                                                    
                                                  <p class="text-xl font-semibold ">Details OF Tenders :</p>
                                                  {% if list.title %}
                                                  <p><b>Title : </b>{{list.title }}</p>
                                                  {% endif %}
                                                  {% if list.closing %}
                                                  <p><b>Closing : </b>{{list.closing }}</p>
                                                  {% endif %}
                                                  {% if list.contract_location %}
                                                  <p><b> Contract Location : </b>{{list.contract_location }}</p>
                                                  {% endif %}
                                                  
                                                  <p><b>Contract Value : </b>{{list.contract_value }}</p>
                                                  
                                                  {% if list.details_url %}
                                                  <p><b>Url : </b>{{list.details_url }}</p>
                                                  {% endif %}
                                                  {% if list.notice_status %}
                                                  <p><b>Notice Status : </b>{{list.notice_status }}</p>
                                                  {% endif %}
                                                  {% if list.notice_type %}
                                                  <p><b>Notice Type : </b>{{list.notice_type }}</p>
                                                  {% endif %}
                                                  {% if list.provider %}
                                                  <p><b>Provider : </b>{{list.provider }}</p>
                                                  {% endif %}
                                                  {% if list.publication_date %}
                                                  <p><b>Publication Date :</b>{{list.publication_date }}</p>
                                                  {% endif %}
                                                  {% if list.summary %}
                                                  <p><b>Summary : </b>{{list.summary }}</p>
                                                  {% endif %}
                                                  
                                                </div>
                                                
                                                <div class="p-7 flex justify-end items-center w-full">
                                                    <button type="button" onclick="modalClose('{{list.id}}')" class="bg-transparent hover:bg-gray-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </dialog>
                               
                                <script>
                                    function openModal(key) {
                                        document.getElementById(key).showModal(); 
                                        document.body.setAttribute('style', 'overflow: hidden;'); 
                                        document.getElementById(key).children[0].scrollTop = 0; 
                                        document.getElementById(key).children[0].classList.remove('opacity-0'); 
                                        document.getElementById(key).children[0].classList.add('opacity-100')
                                    }
                                
                                    function modalClose(key) {
                                        document.getElementById(key).children[0].classList.remove('opacity-100');
                                        document.getElementById(key).children[0].classList.add('opacity-0');
                                        setTimeout(function () {
                                            document.getElementById(key).close();
                                            document.body.removeAttribute('style');
                                        }, 100);
                                    }
                                </script>
                            </div>
                            {% endfor %}
                            <!-- modal end -->
                            <!-- card 1 end -->
                            
                            {% if tenders.has_other_pages %}
                                <ul class="pagination flex space-x-4 ">
                                    {% if tenders.has_previous %}
                                    <li><a href="?topicquery={{keyword}}&page={{ tenders.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    <!-- {% for i in tenders.paginator.page_range %}
                                    {% if tenders.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li><a href="?topicquery={{keyword}}&page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %} -->
                                    <span class="current">
                                        Page {{ tenders.number }} of {{ tenders.paginator.num_pages }}
                                    </span>
                                    {% if tenders.has_next %}
                                    <li><a href="?topicquery={{keyword}}&page={{ tenders.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                        
                    </div>
                </h1>
            </div>

            

    </main>

    <!-- Tender Alerts Start -->
    <!-- <div class="bg-white border-2  shadow  relative rounded-xl flex w-1/5 " >
        <h1 class="text-xl font-bold text-center mx-auto p-3">Tender Alerts</h1>
    </div> -->
    <!-- Tender Alerts Ends -->
</div>


{% endblock body %}