{% extends 'base_login.html' %}
<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}


{% block body %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<!--begin::Signin-->
<div class="login-form login-signin">

    <!--begin::Form-->
    <div class="alert alert-info">
       Your password has been set
    </div>


      <a href="{% url 'login' %}" class="btn btn-primary">Login</a>

    <!--end::Form-->
</div>
  <!--end::Signin-->

{% endblock %}
