{% extends 'base_login.html' %}
<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}


{% block body %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<!--begin::Signin-->
<div class="login-form login-signin">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <!--begin::Form-->
    <form method="post" class="form-validate">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit" >Request Reset Password</button>


    </form>
    <!--end::Form-->
</div>
  <!--end::Signin-->

{% endblock %}
